<div style="display:flex ; flex-direction: column;  border: 1px solid black; background:{{habilitado ? 'orange': 'red'}}; color: white ; width: 200px; height: 140px; margin: 10px;">

 <div style="display:flex; flex-direction: column; margin: 10px">
  <span>Nombre: {{nombre | uppercase}}</span>
  <span>Stock: {{stock}}</span>
  <span>Habilitado: {{habilitado ? "Sí" : "No"}}</span>
 </div>
  <button (click)=Vender() [disabled]="!habilitado" style="width:100px; height: 30px; background: {{habilitado ? 'blue': 'lightblue'}}; border: 1px solid white; color: white; margin: auto auto 10px  50px"> <b>Comprar</b> </button>
  
  

</div>