<div style="display:flex ; border: 1px solid black; background: blue; color: white ; width: 350px; height: 30px; align-items: center; justify-content: center; margin: 10px;">
  <p style="margin: 10px">Votos: {{votos}}</p> 
  <p style="margin: 10px">Habilitados: {{habilitados}}</p> 
  <p style="margin: 10px">Deshabilitados: {{personas.length - habilitados}}</p>  </div>

<div *ngFor="let person of personas">

  <div>
    <app-persona (voto)="nuevoVoto()" [name]="person.name"
           [lastname]="person.lastname" 
           [habilitado]="person.habilitado" 
           [fechanac]="person.fechanac">
   </app-persona>
  </div>
</div>

