<p>Luciana</p>

<div *ngFor="let person of persons">
  <div [ngStyle]="{'background': person.enable ? 'lightgreen' : 'pink'}">
    <persona [name]="person.name"
           [lastName]="person.lastName" 
           [age]="person.age" 
           [enable]="person.enable">
   </persona>
  </div>
</div>


Value: <input type="text" [(ngModel)]="auxNumber">
Exponent: <input type="text" [(ngModel)]="auxExponent" >
<p>{{ auxNumber | expo: auxExponent : 'Holi'  }}</p>

<p>PURE: {{numbers | pure}}</p>
<p>IMPURE: {{numbers | impure}}</p>


<button (click)="numbers.push(4)">Add</button>

<!--<app-adm1></app-adm1>

<app-us1></app-us1>

<p>PIPE JSON:{{persons | json }}</p>
<p>PIPE UPPERCASE: {{ nabNbGgue | uppercase}}</p>
<p>PIPE LOWERCASE:{{ 'fRtGYu' | lowercase}}</p>
<p>PIPE DATE {{ '10/05/2020' | date: "MM/dd/yy" }}</p>


<p>VAR NAME:{{name | test}}</p>


<p>{{ 4 | expo: 2  }}</p>-->

<!--<button (click)="sw = false;">Change SW</button>


<div *ngFor="let person of persons; let i = index">
  <p>{{person}}========{{i}}</p>
</div>


<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">el valor es 3</p>
  <p *ngSwitchCase="2">el valor es 2</p>
  <p *ngSwitchDefault>No es ni 3 ni 2</p>
</div>


<button (click)="auxColor = 'green'">verde</button>
<button (click)="auxColor = 'blue'">azul</button>
<button (click)="auxColor = 'red'">rojo</button>
<div [ngStyle]="{'border': '1px solid ' + auxColor, 'color': auxColor}">
  personas
</div>

<button (click)="auxClass = !auxClass">Change class</button>
<div [ngClass]="{'test1': auxClass, 'test2': !auxClass}">
  ng class example
</div>

<div [class.test1]="auxClass">
  class example
</div>-->

<!--<app-test1 name="luciana" (clickSave)="clickSaveChild($event)"> </app-test1>-->

