<div *ngIf="stockTot==0" style="display:flex ; border: 1px solid black; background: green; color: white ; width: 250px; height: 40px; align-items: center; justify-content: center; margin: 10px;">
  TODO VENDIDO
</div>
<div style="display:flex ; border: 1px solid black; background: skyblue; color: white ; width: 150px; height: 30px; align-items: center; justify-content: center; margin: 10px;">
  Stock Total: {{stockTot}}
</div>
<div style="display:flex ; border: 1px solid black; background: blue; color: white ; width: 350px; height: 30px; align-items: center; justify-content: center; margin: 10px;">
  NACIONALES
</div>
<div style="display:flex" *ngFor="let concierto of conciertos">

  <div style="display:flex">
    <app-concierto (vendido)="vender()" *ngIf="concierto.tipo=='nacional'" [nombre]="concierto.nombre"
           [stock]="concierto.stock" 
           [habilitado]="concierto.habilitado">
   </app-concierto>
  </div>
</div>

<div style="display:flex ; border: 1px solid black; background: blue; color: white ; width: 350px; height: 30px; align-items: center; justify-content: center; margin: 10px;">
  INTERNACIONALES
</div>
<div *ngFor="let concierto of conciertos">

  <div>
    <app-concierto (vendido)="vender()" *ngIf="concierto.tipo=='internacional'" [nombre]="concierto.nombre"
           [stock]="concierto.stock" 
           [habilitado]="concierto.habilitado">
   </app-concierto>
  </div>
</div>